@page "/rooms/room/{roomId:int}"

@using System.Security.Claims

@inject IForumService ForumService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject DialogService DialogService

@if (load)
{
    <div class="container-sm">
        <div class="">
            <RadzenButton Text="Pridať Komentár" ButtonStyle="ButtonStyle.Primary" Click=@AddCommentDialog />
            @if (IsOwner)
            {
                <RadzenButton Text="Zmazať miestnosť" ButtonStyle="ButtonStyle.Danger" Click="DeleteRoom" />
            }
        </div>

        @if (room != null)
        {
            <div class="bgtext mt-2">
                <h4 style="text-align:center;">@room.Title</h4>
                <p class="wrap"> @((MarkupString)room.Detail)</p>
                <p style="text-align:center;">Owner: @userName</p>
                <p style="text-align:center">OwnerID: @userId</p>
            </div>
        
            @if (loading)
            {
                <div class="rz-m-12">
                    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                </div>
            }
            <div class="comment-list">
                @foreach (var comment in room.Comments.OrderByDescending(r => r.DateOfCreation))
                {
                    <div class="bubble wrap @(comment.UserId == userId ? "right" : "left")">
                        <strong>@comment.UserName:</strong> <br/>
                        <p>@((MarkupString)comment.Content)</p>
                        @if (comment.UserId == userId)
                        {
                            <br/>
                            <RadzenButton Click="() => DeleteComment(comment.Id)"> delete</RadzenButton>
                        }
                    </div>
                }
            </div>

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <p class="text-danger">@errorMessage</p>
            }


        
        }
    </div>
}
else
{
    <div class="rz-m-12">
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </div>
}

@code {
    [Parameter]
    public int RoomId { get; set; }

    private ForumRoom room;
    private bool IsOwner;
    private string userId;
    private string newCommentContent;
    private string userName;
    private string errorMessage;
    private bool loading = false;
    private bool load = false;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userId = authState.User?.FindFirstValue(ClaimTypes.NameIdentifier);

        room = await ForumService.GetRoomAsync(RoomId);
        userName = await ForumService.GetUserNameAsync(room.OwnerId);
        if (room != null && room.OwnerId == userId)
        {
            IsOwner = true;
        }

        load = true;
    }

    private async Task AddComment()
    {
        loading = true;
        if (string.IsNullOrWhiteSpace(newCommentContent))
        {
            errorMessage = "Comment cannot be blank.";
            return;
        }

        var comment = new ForumComment
            {
                Content = newCommentContent,
                RoomId = RoomId,
                UserId = userId,
                DateOfCreation = DateTime.UtcNow,
                UserName = await ForumService.GetUserNameAsync(userId)
            };

        
        room.Comments.Add(comment);
        newCommentContent = "";
        await ForumService.AddCommentAsync(comment);
        loading = false;
        NavigationManager.Refresh(true);
    }

    private async Task DeleteComment(int commentId)
    {
        var comment = room.Comments.FirstOrDefault(c => c.Id == commentId);
        if (comment != null && comment.UserId == userId)
        {
            await ForumService.DeleteCommentAsync(commentId);
            room.Comments = room.Comments.Where(c => c.Id != commentId).ToList();
        }
    }

    private async Task DeleteRoom()
    {
        if (await ForumService.CanManageRoomAsync(RoomId, room.OwnerId))
        {
            await ForumService.DeleteRoomAsync(RoomId);
            NavigationManager.NavigateTo("/rooms");
        }
        else
        {
            // Handle error or unauthorized deletion
        }
    }

    async Task AddCommentDialog()
    {
        var result = await DialogService.OpenAsync("Pridať Komentár", ds =>
            @<RadzenStack Gap="1.5rem">
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                        <form @onsubmit="AddComment">
                            <RadzenHtmlEditor @bind-Value=@newCommentContent style="height: 300px;"  UploadUrl="upload/image" />
                            <br/>
                            <RadzenButton type="submit" Click="() => ds.Close(true)">Pridať Komentár</RadzenButton>
                        </form>
        </RadzenStack>
        </RadzenStack>);
    }
}
